* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100vh;
    background: url("../img/bg.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.mini_container {
    width: 100%;
    height: 550px;
    background:rgba(255,255,255,0.36) repeat-x;
    margin: 0 auto;
    position: relative;
    top: 70px;
}
.lang {
    width: 150px;
    height: 30px;
    background: #D2DDEA;
    border-radius: 5px;
    margin: 10px 0 0 155px;
    text-align: center;
    color: #214C61;
    cursor: pointer;
    font-family: "ALK Rounded Mtav Med", sans-serif;
    
}
.lang img {
    width: 20px;
    margin-top: 5px;
}
.lang p {
    float: left;
    line-height: 30px;
    margin-left: 20px;
}

.changLang {
    margin-top: 20px;
    width: 150px;
    z-index: 10000;
    position: relative;
    background: #D2DDEA;
    border-radius: 2px;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    box-sizing: border-box;
    padding: 10px 0;
    display: none;
}

.changLang li {
    height: 40px;
    text-align: left;
    margin-bottom: 10px;
    transition: 1s;
}

.changLang ul li a {
    text-decoration: none;
    color:#214C61;
    padding: 10px 50px 10px 15px;
    font-size: 14px;
    
}
.changLang ul {
    list-style-type: none;
}

.changLang li:hover {
    background: #f2f5f6;
    
}
.flag {
    position: relative;
    left: 35px;
    top: 5px;
}
.rus {
    left: 28px;
}
.geo {
    left: 21px;
}

.zakinator {
    width: 1000px;
    margin: 0 auto;
    padding: 20px;
    position: relative;
}
.top {
    background: url("../img/bg-body-edge-top.png") repeat-x;
    background-position: center;
    width: 100%;
    height: 80px; 
    position: absolute;
    top: -65px;
    left: 0;
    
}
.bottom {
    background: url("../img/bg-body-edge-bottom.png") repeat-x;
    background-position: center;
    width: 100%;
    height: 80px; 
    position: absolute;
    bottom: -70px;
    left: 0;
}

.zaki {
    margin: 20px 0 0 350px;
    width: 250px;
    position: relative;
}

.logo {
    width: 500px;
   margin-left: 250px;
}
.box1 {
    width: 200px;
    height: 130px;
    background: rgba(255,255,255,0.7);
    position: absolute;
    top: 100px;
    left: 180px;
    box-shadow: 0 0 30px 2px #7d92a7;
    
}
.box1 p, .box2 p {
    text-align: left;
    padding: 15px 15px 15px 40px;
    font-family: "ALK Rounded Mtav Med", sans-serif;
    letter-spacing: 1px;
    line-height: 25px;
    color: #2E566A;
    font-weight: bold;
}
.box2 {
    width: 230px;
    height: 200px;
    background: rgba(255,255,255,0.7);
    position: absolute;
    top: 210px;
    left: 610px;
    box-shadow: 0 0 30px 2px #7d92a7;
}
.play {
    width: 200px;
    height: 60px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    position: absolute;
    left: 500px;
    bottom: 100px;
    text-align: center;
}
.play a{
    text-decoration: none;
    color: #fff;
    font-family: "BPG LE Studio 04 Caps", sans-serif;
    line-height: 60px;
    font-weight: bold;
}
